%h2 Your Cart Items

- @cart_items.each do |cart_item|
  %b= cart_item.item.title
  = link_to 'Remove Item', cart_cart_item_path(cart_item), method: :delete
  %hr

%div{style: "padding-top: 10px;"}
  = link_to 'Clear cart', destroy_all_cart_cart_items_path(@cart), method: :delete
