%h1 Orders

%table
  - @orders.each do |order|
    %tr
      %th Order Date
      %th Order Id
    %tr
      %td= order.created_at
      %td= order.id
    - order.items.each do |item|
      %tr
        %td= item.title
        %td= item.price
